In [1]:
import pandas as pd
import numpy as np

In [2]:
ids = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/no_protein_level.tsv', sep = '\t', header = 0)
ids.rename(columns = {'Entry' : 'Accession','Entry Name' : 'Entry_Name','Gene Names (primary)' : 'Gene'}, inplace = True)
ids

        Accession   Entry_Name       Gene
0      A0A087X1C5  CP2D7_HUMAN     CYP2D7
1      A0A0B4J2F0  PIOS1_HUMAN    PIGBOS1
2      A0A0B4J2F2  SIK1B_HUMAN      SIK1B
3      A0A0C5B5G6  MOTSC_HUMAN    MT-RNR1
4      A0A0K2S4Q6  CD3CH_HUMAN     CD300H
...           ...          ...        ...
20417      Q9Y3F1   TA6P_HUMAN        NaN
20418      Q9Y6C7  L3R2A_HUMAN  LINC00312
20419      Q9Y6Z2  CF123_HUMAN  LINC01558
20420      X6R8D5  GUCNB_HUMAN   GUCA1ANB
20421      X6R8R1  ST15B_HUMAN     SYT15B

[20422 rows x 3 columns]

In [3]:
qPTM = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/output/qPTM/qPTM.clean.tsv', sep  = '\t')
qPTM_clean = qPTM.drop_duplicates(subset = ['Gene name','Position','PTM','UniProt accession'], keep = 'first')
print(qPTM_clean.shape)
qPTM_clean.rename(columns = {'Gene name':'Gene','PTM':'Type','UniProt accession':'Accession','residue':'Residue'}, inplace = True)
qPTM_merge = qPTM_clean.merge(ids, on = 'Accession')
qPTM_merge['Type'] = [i.lower() for i in qPTM_merge['Type']]
qPTM_merge

(85432, 6)

/tmp/ipykernel_4415/2432643539.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qPTM_clean.rename(columns = {'Gene name':'Gene','PTM':'Type','UniProt accession':'Accession','residue':'Residue'}, inplace = True)

,Gene_x,Position,Type,Sequence window,Accession,Residue,Entry_Name,Gene_y
0,ALDOA,39,phosphorylation,AADESTGSIAKRLQS,P04075,S,ALDOA_HUMAN,ALDOA
1,ALDOA,46,phosphorylation,SIAKRLQSIGTENTE,P04075,S,ALDOA_HUMAN,ALDOA
2,ALDOA,36,phosphorylation,GILAADESTGSIAKR,P04075,S,ALDOA_HUMAN,ALDOA
3,ALDOA,204,phosphorylation,HDLKRCQYVTEKVLA,P04075,Y,ALDOA_HUMAN,ALDOA
4,ALDOA,37,phosphorylation,ILAADESTGSIAKRL,P04075,T,ALDOA_HUMAN,ALDOA
...,...,...,...,...,...,...,...,...
85406,ZNF677,482,phosphorylation,WGHQRTHTGEKPYKC,Q86XU0,T,ZN677_HUMAN,ZNF677
85407,GET4,36,acetylation,KLRASVEKGDYYEAH,Q7L5D6,K,GET4_HUMAN,GET4
85408,CHMP4BP1,30,acetylation,PAALQALKRKKRYEK,P59074,K,CHM4P_HUMAN,CHMP4BP1
85409,NOSTRIN,114,phosphorylation,VQEKKRKSLDNEVEK,Q8IVI9,S,NOSTN_HUMAN,NOSTRIN
85410,ZNF826P,115,phosphorylation,HKHRRTHTGEKPYKC,Q6ZT77,T,ZN826_HUMAN,ZNF826P

In [5]:
qPTM_merge['Type'].value_counts()

phosphorylation    76050
acetylation         7360
glycosylation       1332
methylation          669
Name: Type, dtype: int64

In [6]:
addb = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/output/ActiveDriver/addb.clean.tsv', sep = '\t')
addb.rename(columns = {'gene':'Gene','position':'Position','residue':'Residue','type':'Type','uniprot':'Accession'},inplace = True)
print(addb.shape)
addb_merge = addb.merge(ids, on = 'Accession')
addb_merge

(260890, 7)

,Gene_x,Position,Residue,Type,kinase,refseq,Accession,Entry_Name,Gene_y
0,ABCB1,683,S,phosphorylation,PRKACA,NM_000927,P08183,MDR1_HUMAN,ABCB1
1,ABCB1,661,S,phosphorylation,PRKCA,NM_000927,P08183,MDR1_HUMAN,ABCB1
2,ABCB1,667,S,phosphorylation,"PRKCA,PRKACA",NM_000927,P08183,MDR1_HUMAN,ABCB1
3,ABCB1,671,S,phosphorylation,"PRKCA,PRKACA",NM_000927,P08183,MDR1_HUMAN,ABCB1
4,ABCB1,644,S,phosphorylation,NaN,NM_000927,P08183,MDR1_HUMAN,ABCB1
...,...,...,...,...,...,...,...,...,...
260528,TLE6,510,S,phosphorylation,NaN,NM_001143986,Q9H808,TLE6_HUMAN,TLE6
260529,TMEM208,1,M,acetylation,NaN,NM_014187,Q9BTX3,TM208_HUMAN,TMEM208
260530,MFI2,462,S,phosphorylation,NaN,NM_005929,P08582,TRFM_HUMAN,MELTF
260531,TRIM7,107,S,phosphorylation,NaN,NM_033342,Q9C029,TRIM7_HUMAN,TRIM7
260532,TSSK1B,174,T,phosphorylation,NaN,NM_032028,Q9BXA7,TSSK1_HUMAN,TSSK1B

In [7]:
addb_merge['Type'].value_counts()

phosphorylation    149029
ubiquitination      87784
methylation         12369
acetylation         11351
Name: Type, dtype: int64

In [8]:
dbPTM = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/output/dbPTM/all.tsv', sep = '\t')
dbPTM.rename(columns = {'Uniprot_ID':'Entry_Name','Uniprot_Accession':'Accession','AA_POS':'Position','MOD_TYPE':'Type'},inplace = True)
print(dbPTM.shape)
dbPTM_merge = dbPTM.merge(ids, on = 'Accession')
dbPTM_merge['Type'] = [i.lower() for i in dbPTM_merge['Type']]
dbPTM_merge.rename(columns = {'Gene':'Gene_y'}, inplace = True)
dbPTM_merge

(855142, 6)

,Entry_Name_x,Accession,Position,Type,Sequence,Residue,Entry_Name_y,Gene_y
0,IMA3_HUMAN,O00629,2,acetylation,---------MADNEKLDNQRL,A,IMA3_HUMAN,KPNA4
1,IMA3_HUMAN,O00629,26,methylation,KNKGRDLETMRRQRNEVVVEL,R,IMA3_HUMAN,KPNA4
2,IMA3_HUMAN,O00629,37,methylation,RQRNEVVVELRKNKRDEHLLK,R,IMA3_HUMAN,KPNA4
3,IMA3_HUMAN,O00629,24,phosphorylation,NFKNKGRDLETMRRQRNEVVV,T,IMA3_HUMAN,KPNA4
4,IMA3_HUMAN,O00629,60,phosphorylation,NVPHEDICEDSDIDGDYRVQN,S,IMA3_HUMAN,KPNA4
...,...,...,...,...,...,...,...,...
590037,FKB9L_HUMAN,Q75LS8,99,ubiquitination,IHAQVASGKGKLAPGFDAELI,K,FKB9L_HUMAN,FKBP9P1
590038,G2XKQ0_HUMAN,G2XKQ0,37,ubiquitination,IGQDSSEIHFKVKMTTPLKKL,K,SUMO5_HUMAN,SUMO1P1
590039,IL24_HUMAN,Q13007,122,ubiquitination,LLEFYLKTVFKNYHNRTVEVR,K,IL24_HUMAN,IL24
590040,R39L5_HUMAN,Q59GN2,18,ubiquitination,KIKQFLAKKQKQNRPIPQWIR,K,R39L5_HUMAN,RPL39P5
590041,SIRBL_HUMAN,Q5TFQ8,182,ubiquitination,HGFSPRDITLKWFKNGNELSD,K,SIRBL_HUMAN,SIRPB1

In [9]:
dbPTM_merge['Type'].value_counts()

phosphorylation    437865
ubiquitination     100109
acetylation         43487
methylation          8581
Name: Type, dtype: int64

In [10]:
pps = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/output/PPS/PPS_clean.tsv', sep = '\t')
pps.rename(columns = {'GENE':'Gene','ACC_ID':'Accession'}, inplace = True)
print(pps.shape)
pps_merge = pps.merge(ids, on = 'Accession')
pps_merge['Type'] = [i.lower() for i in pps_merge['Type']]
pps_merge

(376385, 7)

,Gene_x,Accession,SITE_+/-7_AA,Residue,Position,Type,Location,Entry_Name,Gene_y
0,YWHAB,P31946,___MtMDksELVQkA,K,5,acetylation,20q13.12,1433B_HUMAN,YWHAB
1,YWHAB,P31946,sELVQkAkLAEQAER,K,13,acetylation,20q13.12,1433B_HUMAN,YWHAB
2,YWHAB,P31946,NLLsVAykNVVGARR,K,51,acetylation,20q13.12,1433B_HUMAN,YWHAB
3,YWHAB,P31946,VISsIEQkTERNEKk,K,70,acetylation,20q13.12,1433B_HUMAN,YWHAB
4,YWHAB,P31946,kTERNEKkQQMGkEY,K,77,acetylation,20q13.12,1433B_HUMAN,YWHAB
...,...,...,...,...,...,...,...,...,...
364823,ZNF723,P0DPD5,HAREKPYkCEECGKA,K,482,ubiquitination,19p12,ZN723_HUMAN,ZNF723
364824,ZNF738,Q8NE65,RYGVYPVkGASGYPG,K,12,ubiquitination,19p12,ZN738_HUMAN,ZNF738
364825,ZNF738,Q8NE65,LEYSYFEkGPLTFRD,K,32,ubiquitination,19p12,ZN738_HUMAN,ZNF738
364826,ZNF876P,Q49A33,YTCEECGkAFYRSSH,K,70,ubiquitination,4p16.3,Z876P_HUMAN,ZNF876P
364827,ZNF876P,Q49A33,HSGQKPYkCEECGKA,K,120,ubiquitination,4p16.3,Z876P_HUMAN,ZNF876P

In [11]:
pps_merge['Type'].value_counts()

phosphorylation    230750
ubiquitination      96564
acetylation         22546
methylation         14968
Name: Type, dtype: int64

In [13]:
uniprot = pd.read_csv('/home/amaqueda/TFM/ML_project/PTM_sites/output/UniProt/UniProt.clean.tsv', sep = '\t')
uniprot.rename(columns = {'Entry' : 'Accession', 'Gene':'Gene_y'}, inplace = True)
uniprot

      Accession   Entry_Name Gene_y  Position Residue             Type
0        A0MZ66  SHOT1_HUMAN  SHTN1         1       M      acetylation
1        A0MZ66  SHOT1_HUMAN  SHTN1         3       S  phosphorylation
2        A0MZ66  SHOT1_HUMAN  SHTN1         4       S  phosphorylation
3        A0MZ66  SHOT1_HUMAN  SHTN1       101       S  phosphorylation
4        A0MZ66  SHOT1_HUMAN  SHTN1       249       S  phosphorylation
...         ...          ...    ...       ...     ...              ...
28505    Q9Y3B9  RRP15_HUMAN  RRP15       104       T  phosphorylation
28506    Q9Y3B9  RRP15_HUMAN  RRP15       206       S  phosphorylation
28507    Q9Y3B9  RRP15_HUMAN  RRP15       266       S  phosphorylation
28508    Q9Y3B9  RRP15_HUMAN  RRP15       276       S  phosphorylation
28509    Q9Y3B9  RRP15_HUMAN  RRP15       280       S  phosphorylation

[28510 rows x 6 columns]

In [14]:
uniprot['Type'].value_counts()

phosphorylation    22035
acetylation         4388
methylation         2087
Name: Type, dtype: int64

### MERGEOS

In [98]:
print(addb_merge.shape)
print(pps_merge.shape)
print(dbPTM_merge.shape)
print(qPTM_merge.shape)
print(uniprot.shape)

(260533, 9)
(364828, 8)
(590042, 8)
(85411, 8)
(28510, 6)

In [100]:
print(addb_merge.columns)
print(pps_merge.columns)
print(dbPTM_merge.columns)
print(qPTM_merge.columns)
print(uniprot.columns)

Index(['Gene_x', 'Position', 'Residue', 'Type', 'kinase', 'refseq',
       'Accession', 'Entry_Name', 'Gene_y'],
      dtype='object')
Index(['Gene_x', 'Accession', 'SITE_+/-7_AA', 'Residue', 'Position', 'Type',
       'Entry_Name', 'Gene_y'],
      dtype='object')
Index(['Entry_Name_x', 'Accession', 'Position', 'Type', 'Sequence', 'Residue',
       'Entry_Name_y', 'Gene_y'],
      dtype='object')
Index(['Gene_x', 'Position', 'Type', 'Sequence window', 'Accession', 'Residue',
       'Entry_Name', 'Gene_y'],
      dtype='object')
Index(['Accession', 'Entry_Name', 'Gene', 'Position', 'Residue', 'Type'], dtype='object')

In [7]:
dbPTM.columns

Index(['Entry_Name', 'Accession', 'Position', 'Type', 'Sequence', 'Residue'], dtype='object')

In [8]:
addb.merge(dbPTM, on = ['Gene_y','Type', 'Residue','Position', 'Accession'])

Empty DataFrame
Columns: [Gene, Position, Residue, Type, kinase, refseq, Accession, Entry_Name, Sequence]
Index: []